.container {
   display: flex;
   flex-direction: column;
   gap: 4px;
   padding: 0 2px 2px 2px;
}

.fileName {
   cursor: pointer;
   display: inline-block;
   width: 80%;
   padding-right: 1rem;
   background: none;
   white-space: nowrap;
   outline: none;
   pointer-events: none;
}

.fileSize {
   color: var(--c-text-secondary);
}

.browse {
   display: flex;
   justify-content: space-between;
   width: 100%;
   background-color: var(--c-field-background);
   padding: 2px 8px;
   outline: 2px solid var(--c-field-outline);
   border-radius: 4px;
}

.browse:hover {
   cursor: pointer;
   background-color: var(--c-field-background-hover);
}

.browse:focus {
   outline-width: 3px;
   outline-color: var(--c-field-outline-focus);
}

.required::after {
   content: " *";
   color: var(--c-invalid);
}

.invalid {
   outline-color: var(--c-invalid) !important;
}

.modified {
   outline-color: var(--c-modified);
}

.errorMessage {
   color: var(--c-invalid);
}
