.a {
   --background-color: var(--c-primary-500);
   --background-hover-color: var(--c-primary-300);
   --disabled-color: var(--c-primary-900);
   width: fit-content;
   margin-top: 1.8rem;
   padding: 0.5em 2em;
   border-radius: 6px;
   background-color: var(--background-color);
   color: #fff;
   font-weight: 600;
   text-decoration: none;
}

.a:hover,
.a:focus {
   cursor: pointer;
   background-color: var(--background-hover-color);
   outline: none;
}
