.label {
   display: flex;
   align-items: center;
   gap: 0.5em;
   flex-direction: row;
   justify-content: flex-start;
   width: fit-content;
}

.label:hover {
   cursor: pointer;
}

.right {
   flex-direction: row-reverse;
   justify-content: flex-end;
}

.checkbox {
   /* Hide native checkbox */
   appearance: none;
   background-color: var(--c-field-background);
   margin: 0;
   /* Unchecked style*/
   width: 1.3em;
   height: 1.3em;
   border-radius: 4px;
   outline: 2px solid var(--c-field-outline);
   outline-offset: -1px;
   padding: 2px;
   /* Center checkmark */
   display: grid;
   place-content: center;
   aspect-ratio: 1 / 1;
}

.checkbox:hover {
   cursor: pointer;
}

.checkbox:focus,
.checkbox:hover {
   outline-width: 3px;
   outline-color: var(--c-field-outline-focus);
}

.checkbox:checked:focus,
.checkbox:checked:hover {
   background-color: var(--c-checkbox-checked-hover);
   outline-color: var(--c-checkbox-checked-hover);
}

.checkbox:disabled {
   cursor: not-allowed;
}

.checkbox:checked {
   outline-color: var(--c-checkbox-checked);
   background-color: var(--c-checkbox-checked);
}

/* Checkmark */
.checkbox::before {
   content: "";
   width: 0.8em;
   height: 0.8em;
   background-color: var(--c-checkmark);
   clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
   opacity: 0;
}

.checkbox:checked::before {
   opacity: 1;
}

.required::after {
   content: " *";
   color: var(--c-invalid);
}

.errorMessage {
   color: tomato;
}
