.container {
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.input {
   outline: 2px solid #bbc;
   border-radius: 4px;
}

.invalid {
   outline: 2px solid tomato;
}

.modified {
   outline: 2px solid orange;
}

.errorMessage {
   color: tomato;
}
