.button {
   margin-top: 1.8rem;
   padding: 0.5em 1em;
   border-radius: 6px;
   background-color: var(--c-accent);
   color: #fff;
   font-weight: 600;
}

.button:hover,
.button:focus {
   cursor: pointer;
   background-color: var(--c-accent-hover);
   outline: none;
}

.button[data-disabled="true"] {
   background-color: var(--c-disabled);
}
